
* {
  box-sizing: border-box;
}

/* Typography & Basics */

html {
  font-family: Heuristica;
  font-size: 1em;
  line-height: 1.6875;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 48px;
  font-size: 3rem
}

h2 {
  font-size: 36px;
  font-size: 2.25rem
}

h3 {
  font-size: 30px;
  font-size: 1.875rem;
  line-height: 1.8
}

h4 {
  font-size: 24px;
  font-size: 1.5rem
}

h5 {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.35
}

h6 {
  font-size: 18px;
  font-size: 1.125rem
}

li > ol,
li > ul {
  margin-bottom: 0
}

code,
kbd,
pre,
samp {
  font-family: monospace,monospace
}

blockquote {
  text-indent: -.41em;
  quotes: "“" "”"
}

blockquote p:before,
q q:before {
  content: "“";
  content: open-quote
}

blockquote p:after {
  content: "";
  content: no-close-quote
}

blockquote p:last-of-type:after,
q q:after {
  content: "”";
  content: close-quote
}

q {
  quotes: "‘" "’" "“" "”"
}

q:before {
  content: "‘";
  content: open-quote
}

q:after {
  content: "’";
  content: close-quote
}

q:first-child {
  text-indent: -.22em
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0
}

td,
th {
  padding: 13.5px
}

/* Typography Components */

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.text-align-left {
  text-align: left;
}

/* Grid Components */

.grid-container {
  width: 58rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 17px;
  padding-right: 17px;
  height: 100%;
}

.grid {
  list-style: none;
  margin: 0 0 0 -17px;
  padding: 0;
  letter-spacing: -.31em;
}

.grid,
.opera:-o-prefocus {
  word-spacing: -.43em
}

.grid-item {
  padding-left: 17px;
  vertical-align: top;
  width: 100%;
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
}

.grid-rev {
  direction: rtl;
  text-align: left
}

.grid-rev>.grid-item {
  direction: ltr
}

.grid-full {
  margin-left: 0
}

.grid-full>.grid-item {
  padding-left: 0
}

.grid-right {
  text-align: right
}

.grid-right > .grid-item {
  text-align: left
}

.grid-center {
  text-align: center
}

.grid-center > .grid-item {
  text-align: left
}


.grid-middle > .grid-item {
  vertical-align: middle
}

.grid-bottom > .grid-item {
  vertical-align: bottom
}

.grid-narrow {
  margin-left: -8.5px
}

.grid-narrow > .grid-item {
  padding-left: 8.5px
}

.grid-wide {
  margin-left: -34px
}

.grid-wide > .grid-item {
  padding-left: 34px
}

.one-whole {
  width: 100%
}

.five-tenths,
.four-eighths,
.one-half,
.six-twelfths,
.three-sixths,
.two-quarters {
  width: 50%
}

.four-twelfths,
.one-third,
.two-sixths {
  width: 33.333%
}

.eight-twelfths,
.four-sixths,
.two-thirds {
  width: 66.666%
}

.one-quarter,
.three-twelfths,
.two-eighths {
  width: 25%
}

.nine-twelfths,
.six-eighths,
.three-quarters {
  width: 75%
}

.one-fifth,
.two-tenths {
  width: 20%
}

.four-tenths,.two-fifths {
  width: 40%
}

.six-tenths,.three-fifths {
  width: 60%
}

.eight-tenths,.four-fifths {
  width: 80%
}

.one-sixth,.two-twelfths {
  width: 16.666%
}

.five-sixths,.ten-twelfths {
  width: 83.333%
}

.one-eighth {
  width: 12.5%
}

.three-eighths {
  width: 37.5%
}

.five-eighths {
  width: 62.5%
}

.seven-eighths {
  width: 87.5%
}

.one-tenth {
  width: 10%
}

.three-tenths {
  width: 30%
}

.seven-tenths {
  width: 70%
}

.nine-tenths {
  width: 90%
}

.one-twelfth {
  width: 8.333%
}

.five-twelfths {
  width: 41.666%
}

.seven-twelfths {
  width: 58.333%
}

.eleven-twelfths {
  width: 91.666%
}

/* Header */

.header {
  padding-top: 30px;
  height: 80px;
}

.header .logo {
  font-size: 1.2rem;
  text-decoration: none;
}

.header .side a {
  text-decoration: none;
}

.header + .grid-container {
  margin-top: 30px;
}


/* Archive List */

.archive-border-top {
  border-top: 1px solid;
}

.archive-year {
  font-size: 16px;
  padding: 8px 0 0;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  margin: 0;
}

.archive-list {
  margin: 0;
  padding: 0;
}

.archive-list li {
  list-style: none;
}

.archive-list-link {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;

  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;

  text-decoration: none;
  padding: 8px 0 9.6px;
  transition: none;
}

.archive-list-title {
  display: block;
  font-weight: 400;
}

.archive-list-date {
  font-size: 14px;
  font-style: normal;
}


/* Article */

.article {
  font-size: 16px;
  line-height: 1.33;
}

.article .article-title {
  font-family: "Source Serif Pro";
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 30px;
}

.article h1,
.article h2,
.article h3,
.article h4,
.article h5,
.article h6 {
  font-family: "Source Serif Pro";
  font-weight: 600;
  line-height: 1.33 !important;
  margin-bottom: 27px;
  letter-spacing: auto;
  font-size: 20px
}

.article ul {
  list-style-type: none
}

.article ul>li:before {
  content: "–";
  position: absolute;
  margin-left: -1.1em
}

.article ul>li {
  margin-bottom: 12px;
  line-height: 1.33!important;
  margin-left: 1.1em
}

.article ol ol,
.article ul ul {
  margin: 0 0 0 60px!important
}

.article p {
  margin-bottom: 27px;
  line-height: 1.5 !important;
}

.article a {
  text-decoration: none;
}

.article blockquote {
  margin: 0 40px 0 0;
  border-left: 2px solid;
  padding-left: 18px;
  text-indent: 0;
  quotes: none;
}

.article code,
.article pre {
  font-family: Consolas, Monaco, Menlo, "Courier New",monospace;
  font-size: 16px;
  padding: 0 5px;
  border-radius: 3px
}

.article pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 27px;
  font-size: 13px;
  line-height: 20px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
  border-radius: 4px
}

.article code {
  white-space: nowrap
}

.article pre code {
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  padding: 0;
  border: 0
}

.article-full-container {
  width: 100%;
}

.article-page-container {
  width: 50rem;
}

.article-meta {
  font-size: 14px;
  line-height: 1.33 !important;
}

.article-meta .article-tags {
  opacity: 0;
  transition: opacity .5s;
}

.article-meta:hover .article-tags {
  opacity: 1
}

.article-tags {
  text-transform: uppercase;
  font-family: 'Source Sans Pro';
  font-size: 12px;
  letter-spacing: .2px;
}

.article-tags a {
  margin-right: 13px;
}


/* Episode */

.episode-container {
  width: 58rem;
  margin-bottom: 30px;
}

.episode-title {
  font-family: "Source Serif Pro";
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 30px;
  margin-top: -30px;
}

.episode-subtitle {
  font-size: 18px;
  font-weight: 400;
  margin-top: -30px;
  margin-bottom: 20px;
}

.episode-container .grid-item {
  padding-left: 0;
}

.player-holder {
  display: block;
  margin: -30px -8px 0;
}

.player-holder .next {
  float: right;
}

.episode-list {
  margin: 0 0 30px;
  padding: 0;
}

.episode-list-item {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;

  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;

  text-decoration: none;
  padding: 8px 0 9.6px;
  transition: none;
  list-style: none;

  cursor: pointer;
}

.episode-list-playing {
  border: 1px solid;
  padding: 10px;
  border-radius: 3px;
  margin: 0 -10px;
}

.episode-list-title {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-weight: 400;
}

.episode-list-artist {
  font-family: "Source Serif Pro";
  font-style: normal;
}

.episode-list-item .now-playing {
  display: inline-block;
  margin-right: 5px;
}

.now-playing .bar {
  display: inline-block;
  position: relative;
  margin-right: 1px;
  width: 2px;
  height: 1px;
  overflow: hidden;
  color: transparent;
  animation-name: pulse;
  animation-duration: 1s;
  animation-iteration-count: 0;
}

.episode-list-playing .now-playing .bar {
  animation-iteration-count: infinite;
}

/* Animations */

.bar:nth-child(1) { animation-delay: 0.5s; }
.bar:nth-child(2) { animation-delay: 0.2s; }
.bar:nth-child(3) { animation-delay: 1.2s; }
.bar:nth-child(4) { animation-delay: 0.9s; }
.bar:nth-child(5) { animation-delay: 2.3s; }

@keyframes pulse {
  0% { height: 1px; margin-top: 0; }
  10% { height: 4px; margin-top: -4px; }
  50% { height: 3px; margin-top: -3px; }
  60% { height: 6px; margin-top: -6px; }
  80% { height: 12px; margin-top: -12px; }
  100% { height: 1px; margin-top: 0; }
}

/* Colors */

.site { background: hsl(0, 0%, 98%); }

.header .logo { color: #000000 }
.header .side, .header .side a { color: #a0a0a0; }

.archive-border-top { border-color: hsla(0, 0%, 0%, 0.1) }

.archive-list-link { color: #000000  }
.archive-list-link:hover { color: #f95d58 }
.archive-list-link:visited { color: #a0a0a0 }

.archive-list-date { color: #a0a0a0 }

.article p { color: #212121; }
.article a,
.article a:hover { color: #212121; box-shadow: inset 0 -1px 0 hsl(0, 0%, 100%),inset 0 -2px 0 #2F2F2F; }
.article pre { background-color: #f5f5f5; border: 1px solid #ccc; border: 1px solid rgba(0,0,0,.1); }
.article code { color: #333; background-color: #f5f5f5; border: 1px solid #ccc; border: 1px solid rgba(0,0,0,.1); }

.article bloquote { border-color: hsla(0, 0%, 0%, 0.65) }

.article-meta, .article-meta p { color: #a0a0a0 }
.article-tags a { color: #a0a0a0; box-shadow: none }
.article-tags a:hover { color: #212121; box-shadow: none }

.episode-subtitle { color: #a0a0a0; }

.episode-list-item { border-color: hsla(0, 0%, 0%, 0.1); }
.episode-list-item .episode-list-artist { color: #a0a0a0; }
.episode-list-item .now-playing .bar {  background: #ffffff; }
.episode-list-playing { border-color: hsla(0, 0%, 0%, 0.1); }
.episode-list-playing .now-playing .bar { background: linear-gradient(to bottom, #f95d58, #f95d58); }