<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="Nijiko Yonskai" />
    <title>{{ page.title }}</title>
    <link href='http://fonts.googleapis.com/css?family=Vollkorn:400italic,700italic,400,700|Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800|Droid+Sans+Mono|Libre+Baskerville:400,700,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/assets/css/base.css">
    <script src="/assets/js/jquery.js" type="text/javascript"></script>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/" class="logo">NY</a></li>
        </ul>
      </nav>
    </header>

    <section>
      {{ content }}
    </section>
  </body>
</html>
